<html>
<head>
	<link rel="stylesheet" href="./tmp/template.css">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" class="background-table">
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" align="center" class='main-table'>
					<tr>
						<td width="40" valign="top"></td>
						<td width="520" valign="top">&nbsp;</td>
						<td width="40" valign="top"></td>
					</tr>
					<tr>
						<td width="40" valign="top"></td>
						<td width="520" valign="top">
							<p class="intro">
								Hi!
								<br />
								<br />
								{{#if sender.first_name}}
								{{sender.first_name}} {{sender.last_name}} sent you this
								{{else}}
								You have been sent an
								{{/if}}

								email via the Toru Interactive Pizza App...
							</p>
							<br />
							{{#each results}}
							<span class="result">{{name}}</span>
							<hr>
							<table cellpadding="8px" cellspacing="0" border="0" align="center" class='results-table'>
								<tr>
									<td class="table">
										<table cellpadding="8px" cellspacing="0" border="0" align="center">
											<tr>
												<th></th>
												<td>Toppings</td>
											</tr>
											<tr>
												<th>Cheese</th>
												<td>{{cheese}}</td>
											</tr>
											<tr>
												<th>Ham</th>
												<td>{{ham}}</td>
											</tr>
											<tr>
												<th>Pineapple</th>
												<td>{{pineapple}}</td>
											</tr>
											<tr>
												<th>Mushrooms</th>
												<td>{{mushrooms}}</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							{{/each}}
							<br />
							<br />
							<p class="contact">
								{{#if sender.first_name}}
								If you want to contact {{sender.first_name}}
								{{else}}
								If you want to respond
								{{/if}}
								please email
								<a href="mailto:{{sender.email}}">{{sender.email}}</a>.
							</p>
						</td>
						<td width="40" valign="top"></td>
					</tr>

					<tr>
						<td width="40" valign="top"></td>
						<td width="520" valign="top" align=center>
							<img class='toru-interactive-logo' src="{{logo_src}}" alt="" />
						</td>
						<td width="40" valign="top"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
