<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    media="screen"
    title="no title"
    charset="utf-8">
</head>
<body>
  <div class="container">
    <h1>Toru Interactive - Mandrill Handlebars</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>HTML Email Templates</h3>
        <ul>
          <li><a href="template.html">Template</a></li>
        </ul>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</body>
