#outlook a {
  padding: 0; }

body {
  width: 100% !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

.ExternalClass {
  width: 100%; }

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

/* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic; }

a img {
  border: none; }

.image_fix {
  display: block; }

p {
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6 {
  color: black !important; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: blue !important; }

h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #C92B2D !important; }

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: purple !important; }

table td {
  border-collapse: collapse; }

table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

body {
  background-color: white;
  padding: 0;
  margin: 0; }

.toru-interactive-logo {
  width: 180px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px; }

.background-table {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important; }
  .background-table .main-table {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px; }
    .background-table .main-table .contact, .background-table .main-table .intro {
      text-align: center;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7); }
    .background-table .main-table .intro {
      text-align: left; }
    .background-table .main-table .title {
      color: #C92B2D;
      font-style: italic;
      font-size: 18px;
      font-weight: 200; }
    .background-table .main-table hr {
      border: 1px #C92B2D solid; }
    .background-table .main-table .result {
      color: #C92B2D;
      font-size: 18px;
      font-weight: 200; }
    .background-table .main-table .results {
      width: 100% !important;
      font-family: "Roboto Condensed", sans-serif;
      margin: 0 auto 30px auto; }
      .background-table .main-table .results table {
        width: 100%; }
        .background-table .main-table .results table td {
          width: 50%; }
      .background-table .main-table .results .table {
        border: 1px rgba(0, 0, 0, 0.1) solid;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); }
      .background-table .main-table .results .cost {
        border: 1px #C92B2D solid;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); }
      .background-table .main-table .results th {
        background-color: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.7);
        font-weight: 300;
        border-bottom: 1px white solid; }
      .background-table .main-table .results td {
        font-weight: 300;
        padding: 10px 10px;
        color: #C92B2D;
        border: none;
        text-align: center;
        height: 30px; }
