
$colour: #C92B2D;

// START RESET
#outlook a {padding:0;}
body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
.ExternalClass {width:100%;}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
a img {border:none;}
.image_fix {display:block;}
p {margin: 1em 0;}
h1, h2, h3, h4, h5, h6 {color: black !important;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active { color: $colour !important; }
h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
table td {border-collapse: collapse;}
table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
// END RESET


body {
	background-color : white;
	padding : 0;
	margin : 0;
}

.toru-interactive-logo {
	width : 180px;
	height : 60px;
	margin-top : 30px;
	margin-bottom : 30px;
}

.background-table {
	background-color : white;
	margin:0;
	padding:0;
	width:100% !important;
	line-height: 100% !important;

	.main-table {
		background-color: white;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 20px;

		.contact, .intro {
			text-align: center;
			font-size: 18px;
			color: rgba(black, 0.7);
		}
		.intro {
			text-align: left;
		}

		.title {
			color: $colour;
			font-style: italic;
			font-size: 18px;
			font-weight: 200;
		}

		hr {
			border: 1px $colour solid;
		}

		.result {
			color: $colour;
			font-size: 18px;
			font-weight: 200;
		}

		.results{
			width: 100% !important;
			font-family: "Roboto Condensed", sans-serif;
			margin: 0 auto 30px auto;

			table {
				width: 100%;
				td {
					width: 50%;
				}
			}

			.table {
				border: 1px rgba(black, 0.1) solid;
				box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
			}

			th {
				background-color: rgba(black, 0.05);
				color: rgba(black, 0.7);
				font-weight: 300;
				border-bottom: 1px white solid;
			}

			td {
				font-weight: 300;
				padding : 10px 10px;
				color: $colour;
				border : none;
				text-align: center;
				height: 30px;
			}
		}
	}
}
